* {
  font-size: 1rem;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color:#F2F0EF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #778da9;
  --secondary-color: #e0e1dd;
  --third-color:#415a77;

}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  margin: 0; 
}

#root {
  display: flex;
  justify-content: center;
  
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

#root > div {
  
  display: flex;
  gap: 2rem;
  
}

h1 {
  font-size: 3em;
  line-height: 1.1;
  
}

button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 2vh ;
  border: 0;
  border-radius: 15px;

  & .arrow {
    font-size: 50px;
  }

  & img {
    padding: 0 2vw;
  }

  & .arrow.active {
    transform: rotate(180deg);
    transition: .25s ease-in-out;
    
  }
  & .arrow {
    transition: .25s ease-in-out;
    
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
